body
 {
 background-color: lightsalmon;
}
a {
      text-decoration:none;
}
h1  
{
  color: rgb(151, 135, 135)
}
li 
{
  background-color: rgb(135, 151, 146)
  padding: 10px
}
nav
{
      background-color: lightgrey;
      width: 130px;
      padding: 10px;
      margin: 10px;
}
li:hover
{
  background-color: rgb(212, 62, 62);
  color:antiquewhite
}
table
{
  border-collapse: collapse;
  font-family: serif;
  font-size: 1.5em;
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  color:rgb(28, 201, 143)
}
#tabletags th {
  background-color: black;
  color: white;
}
#tabletags tr:nth-child(even) {
  background-color: rgb(153, 204, 255);
}
#tabletags tr:nth-child(odd) {
 background-color: rgb(224, 224, 224);
}